@keyframes pulse {
  0% {
    transform: scale(1); /* Original size at the start */
  }
  50% {
    transform: scale(1.1); /* Slightly larger at the midpoint */
  }
  100% {
    transform: scale(1); /* Back to original size at the end */
  }
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    animation: pulse 2s infinite;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5px;
    text-align: center;
  }


* {
  outline: 1px solid rgb(0, 17, 255) !important;
}


body {
  background-image: url(./assets/image.jpg);
  background-size: cover;
}
