@keyframes pulse {
  0% {
    transform: scale(1); /* Original size at the start */
  }
  50% {
    transform: scale(1.1); /* Slightly larger at the midpoint */
  }
  100% {
    transform: scale(1); /* Back to original size at the end */
  }
}

h1 {
    font-size: 50px;
    margin: 30px 0px;
    animation: pulse 2s infinite;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5px;
    text-align: center;
  }

h2 {
    font-size: 40px;
    margin: 20px 0px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5px;
    text-align: center;
  }

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  max-width: 800px;
}

p {
  font-size: 20px;
  margin: 20px 0px;
}
#bdc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.note {
  margin: 50px auto;
  width: 80%;
  border-radius: 20px;
  padding: 8px 20px;
}
.blue {
  background-color: rgb(0, 208, 255);
  transform: rotate(-7deg);
}
.yellow {
  background-color: yellow;
  transform: rotate(6deg);
}

.red {
  background-color: rgb(220, 93, 93);
  transform: rotate(-4deg);
}

.pic {
  width: 80%;
  margin: 10px auto;
}

.rotate1 {
  transform: rotate(-3deg);
}

.rotate2 {
  transform: rotate(3deg);
}

.rotate3 {
  transform: rotate(-6deg);
}

.rotate4 {
  transform: rotate(6deg);
}